  <!-- Main Content -->
  <div class="container w-[100%] flex items-center h-[100%]">
    <div class="w-[100%] bg- flex text-center ml-[100px] items-center flex-row">
      <div class="img bg- h-[100%] w-[51%]">
        <img src="../../assets/img/projectM.svg" alt="projectM">
      </div>

      <div class="text-center">
        <h1 class="text-indigo-800 text-[70px]">About us</h1>
        <div class="mb-[60px]">
          <p class="text-center">
            This is a website where you can upload your gaming clips,<br>
            even when this is a test website, it is total functional, test it<br>
            and enjoy! 
          </p>
          <div class="flex flex-row mt-[50px] text-[40px] justify-center">
            <a target="_blank" *ngFor="let media of socialMedia" class="mr-[20px]" [href]="media.link">
              <i [class]="media.icon"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>